h1 {
    color: #336699;
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black
    margin-top:100px;

}

.fotocarro
    {
        width: 350px;
        height: 200px;
    }


#cabecera {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
      }