{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />

    <title>Pyantae- {{ plant.plant_name }}</title>

    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      </style>
</head>
<body>
                <header>
                    <div class="cabecera navbar navbar-fixed-top navbar-dark bg-light shadow-sm">
                    <div class="container d-flex justify-content-between">
                        <a href="/" class="navbar-brand d-flex align-items-center">
                          <img src="{% static 'arbol.png' %}" width="20" height="20">
                        <font color=#336699><strong>Pyantae</strong></font>
                        </a>
                      </div>
                    </div>

                </header>

                <main role="main">
                    {% block content %}
                    {% endblock %}
                </main>

              
              
              <footer class="text-muted">
                <div class="container">
                  <p class="float-right">
                    <a href="#">Regresar...</a>
                  </p>
                
                  
                </div>
              </footer>
              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"><\/script>')</script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

                    
    <h1>Pyantae</h1>



</body>
</html>
